<!DOCTYPE html>
	<html>
	<head>

	<title>CubStart Server Demo!</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" href="../static/main.css" />
	</head>
	<body>
		<div id="main">
			<button id="add">Add 1</button>
			<button id="subtract">Subtract 1</button>
			<button id="enc">Encode</button>
			<button id="dec">Decode</button>
			<br/>
			<p id="number"></p>
			<div class="textbox">
		        <label for="text">Text:</label>
		        <input type="text" id="text" placeholder="string to decode" />
		    </div>
			<!-- <p id="text"></p> -->
		</div>
		<div id="logs">
			<div id="requests">
				<div id="requests-title">
					Requests:
				</div>
				<div id="requests-content">
				</div>
			</div>
			<div id="responses">
				<div id="responses-title">
					Responses:
				</div>
				<div id="responses-content">
				</div>
			</div>
		</div>

		<script src="../static/baseurl.js"></script>
		<script src="../static/main.js"></script>
	</body>
	</html>
